@charset "UTF-8";
/* body style */
body, html {
    height: 100%;
    font-family: 'Montserrat', sans-serif;
}
/*--typeface for heading alone --*/
.w3-wide {
font-family: 'Montserrat', sans-serif!important;
font-family: 'Baloo', cursive !important;
font-weight:bolder;
font-size: 24px;
color:#520720;
}
.w3 {
  font-family: 'Montserrat', sans-serif!important;
  font-family: 'Baloo', cursive !important;
  font-weight:bolder;
  font-size: 24px;
  color:#520720;
}
.receipe {
  font-family: 'Montserrat', sans-serif;
  font-family: 'Baloo', cursive;
  font-weight:bolder;
  font-size: 24px;
  color:#520720;
}
.bgimg {
  background-image: url("../img/heroimage.jpg");
 height: 100%;
 width:auto;
 /*--background-position: center;--*/
 background-repeat: no-repeat;
 background-size: cover;
 position: relative;
 background-position: top;
}
.menu {
    display: none;
}

/*--nav bar color--*/
#header-color {
  background-color: #d7eae5;
}


/*---background color for entire section goes here --*/
#wsection {
  background-color: white;
  background-image:url(../img/paterrn.png);
}
.w3-tag {
  background-color: #520720!important;
}
 a.w3-hover-white:hover {
  background: #e4c5c3!important;
  font-family: 'Baloo', cursive !important;
  font-weight:bolder;
  font-size: 24px;
}
.w3-top {
  font-family: 'Baloo', cursive !important;
  font-weight:bolder;
  font-size: 24px;
}
/*---menu section goes here--*/
.w3-padding {
  background: #e4c5c3;
}
.w3-dark-grey:hover{
  background:#d7eae5!important;
}
.w3-dark-grey {
  background: #d7eae5!important;
}
/* menu section hover color --*/
.w3-dark-grey{
  background-color: #d7eae5!important;
}
#Eat {
  background-color: #d7eae5;
  color: #520720;
}
#Drinks {
  background-color: #d7eae5;
}
#Stuffed {
  background-color: #d7eae5;
}

/*--signature & truck section here --*/
#doughnut {
  max-width: 1080px;
}
#truck {
  max-width: 1300px;
}
#test {
  margin-bottom: 45px;
}
.sign {
  text-align: center;
  font-family: 'Baloo', cursive;
  font-weight:normal;
  font-size: 20px;
  color: #520720;
}
/*---testimonal section--*/
#testimonials {
  background-color: #d7eae5;
  padding-bottom: 50px;
}
.test {
  text-align:left;
  color:#520720;
}
#content1 {
  margin-bottom: 50px;
}

/*--recipe color
.w3-hover-dark-grey:hover, .w3-dark-gray, .w3-hover-dark-gray:hover{
  color:black!important;
} --*/
/*---address secion here --*/
.w3-col.s6{
  padding-top: 20px!important;
}
/*--instragram section here--*/
.instragram {
  text-align: center;
  color: #520720;
  font-weight: bold;
  font-size:24px;
}
#post {
  margin-top: 100px;
}

/*---social icons---*/
.social {
  text-align: center;
  color: #520720;
  font-weight: bold;
  font-size:24px;
}
.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
}

/* Add a hover effect if you want */
.fa:hover {
    opacity: 0.7;
}
/* Facebook */
.fa-facebook {
    background: #d7eae5;
    color: #520720;
}
.fa-twitter {
    background: #d7eae5;
    color: #520720;
}
.fa-instagram {
    background: #d7eae5;
    color: #520720;
}
.responsive {
    width: 95%;
    height: auto;
}

/*-- code for media screen responsive --*/
@media (max-width: 600px) {
  .bgimg {
    background-position: center 50px;
    background-image: url("../img/heroimage.jpg");
    width: 100%;
    height: 250px;
  }
}
@media (max-width:600px) {
/*--  .w3-button {
  font-size: 12px;
  }
  a.w3-hover-white:hover {
    font-size: 12px;
  }--*/
  #testify {
    display:none;
  }
}
